/* styles.css */

/* Add styles here to customize the appearance of your app */

body{
    overflow:hidden;
    color:white;
    background-color: rgb(33,37,41);
}
#output{
    display: flex;
    overflow:hidden;
    white-space: nowrap;
    height:150px;
}

.preview{
    display: inline-block;
    width: 100%;
    height:100px;
    background-color: rgb(110,44,242);
}

label[for="input"]{
    color:white;
    margin:5px;
    padding: 8px;
    background-color: rgb(235, 172, 235);
    font-size: 20px;
    border-radius: 20px;
    border:2px solid black;
}
label[for="input"]:hover{
    box-shadow: 2px 2px rgb(70, 68, 68);
}
li {
  display: inline-block;
  padding: 10px 20px;
}
ol{
    white-space: nowrap;
}

.selected-pics{
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(37, 149, 235);
}
.hoverZoom:hover{
    transform: scale(2);
    box-shadow: 5px 5px 10px rgb(37, 149, 235);
}

.next_back-Button{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: white;
    opacity: 50%;
    font-size: 15px;
    align-self: center;
    margin-right: 20px;
    
    box-shadow: 10px 10px 20px white;
}

.next_back-Button:hover{
    background-color: white;
    opacity:100%;
    box-shadow: 5px 5px 10px rgb(37, 149, 235);
}

#back-button{
  left: calc(1% - 30px);
  border-end-end-radius: 50%;
    /*round border for bottom right corner  */

  border-start-end-radius: 50%;
    /*round border for top right corner  */
}

#next-button{
  right: calc(1% - 30px);
  border-end-start-radius: 50%;
    /*round border for bottom left corner  */

  border-start-start-radius: 50%;
    /*round border for top left corner  */
}


.clear-Button{
    border-radius: 50%;
    height:50px;
    width:100px;
    padding: 5px;
   
    background-color: rgb(235, 112, 45);
    font-size: 30px;
}

.clear-Button:hover{
    background-color: white;
    box-shadow: 5px 5px 10px rgb(235, 37, 113);
}